

.custom-navbar {
  padding: 1.2rem;
  background-color: #1a1a1a; 
}

.custom-footer {
  background-color: #111;
  font-size: 1.1rem;
}

.hero-background-img {
  position: relative;
  background: rgba(0, 0, 0, 0.3); 
  padding-top: 200px;
  padding-bottom: 200px;
  text-shadow: 2px 2px 5px black;
}

.hero-background-img:after {
  content: "";
  position: absolute;
  background-image: url("hero.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.5;
}

.btn-primary:hover {
  background-color: #0056b3;
  color: white;
}


.img-fluid {
  box-shadow: 0px 4px 15px rgba(0,0,0,0.3);
}
